:root {
  --dmt-navy: #41468f;
  --dmt-magenta: #2b294c;
  --dmt-cyan: #3effe5;
  --dmt-green: #00ffbd;
  --dmt-violet: #986aeb; /* maybe a better violet than in dmt-gui, check and replace there! */

  /* From: https://github.com/uniqpath/dmt/blob/main/core/node/aspect-apps/search/front/src/App.svelte#L371-L393 */
  --warning: #e34042;
  --dmt-red: #e34042;
  --dmt-warning-pink: #efcaf8;
  --dmt-orange: #e5ae34;
  --dmt-navy: #41468f;
  /*--dmt-navy: #199EFF;
  --dmt-navy: #199EFF;*/
  --dmt-navy2: #292c5a;
  --dmt-cyan: #29b3bf;
  /*--dmt-bright-cyan-prev: #3EFFE5;*/
  --dmt-bright-cyan: #3dffec;
  --dmt-violet: #873bbf;
  --dmt-violet-dark: #2e1740;
  --dmt-vibrant-green: #5fe02a;
  --dmt-cool-green: #5df699;
  --dmt-cool-cyan: #51f5c8;
  --dmt-cool-cyan2: #58e288;
  --zeta-green: #31e5c1;
  --zeta-green-highlight: #34fed7;
  --zeta-green_check: #32e6be;
  --search-input-width: 330px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Nunito-Sans, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(29, 28, 45);
  background: linear-gradient(180deg, rgba(29, 28, 45, 1) 0%, rgba(73, 71, 101, 1) 100%);
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

a {
  color: white;
}

a:hover {
  color: var(--dmt-cyan);
}

table {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  background-color: rgba(255, 255, 255, 0.15);
}

tr {
  border-top: 1px solid white;
}

th {
  padding: 0.5rem;
  font-size: 0.8rem;
}

td {
  padding: 0.5rem;
  font-size: 0.75rem;
}

.view-container {
  width: 100%;
  max-width: 920px;
  padding: 0 1rem;
  margin: 0 auto;
}
